.page--sign-in {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  label {
    span {
      display: inline-block;
      width: 6em;
    }
  }

  input {
    padding: 0.5em;
  }

  button {
    padding: 1em;
  }
}
