@import "./Pages/Home.scss";
@import "./Pages/SignIn.scss";

body {
  margin: 0;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media (orientation: portrait) {
      flex-direction: column;
    }

    .count {
      font-size: 2rem;
      min-width: 4rem;
      text-align: center;
    }
  }
}

.upDownButton {
  background-color: #dddddd;
  padding: 10px;
  border-radius: 3px;
  min-width: 160px;
  outline: none;
  border-style: none;
  font-size: 2rem;

  &:hover {
    background-color: white;
  }
}
